{% extends 'base.html.twig' %} {% block title %}Welcome!{% endblock %}
{% block body %}
<div class="container-fluid bg-image">
  <h1>My story and philosophy!</h1>
  <div class="container-fluid hero">
    <img
      src="https://cdn.pixabay.com/photo/2023/04/05/17/59/woman-7902055_1280.jpg"
      alt="Dog school"
    />
    <p class="text1">
        Hi, I'm Gini!<br>

        I love dogs, which is why I have dedicated my whole life to dogs and fulfilled my lifelong dream of opening my own dog school after completing my training as a qualified dog trainer. 
        In my dog school I teach exclusively reward-based, through positive reinforcement. 
        My training is based on the latest results of scientific studies on dog training, learning theory and behavior modification in mammals.
        Respectful treatment of dogs is particularly important to me, as is the joy of working together with dogs and humans.
    </p>
  </div>
</div>
{% endblock %}